<header class="app-header" *ngIf="isLoggedIn$ | async">
  <div class="header-content">
    <h1>City Hive</h1>
    <button class="logout-button" (click)="showLogoutConfirmation()">
      <span>Logout</span>
    </button>
  </div>
</header>

<app-confirmation-modal
  [show]="showConfirmModal"
  title="Confirm Logout"
  message="Are you sure you want to log out?"
  confirmText="Yes, Log Me Out"
  cancelText="No, Stay Logged In"
  (confirm)="handleLogout()"
  (cancel)="hideLogoutConfirmation()"
></app-confirmation-modal>
